body {
  text-align: center;
  color: #800b02;
  background-color: #c1bdbd;
  font-family: Georgia, "Times New Roman", Times, serif;
}

p.demo {
 text-align: left;
 width:500px;
 margin-left: auto; 
 margin-right: auto;
 word-wrap:break-word
}

h1 {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}